<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="assets/icon/favicon.png" alt="Logo" class="logo" />
    <h1>Recupera tu contraseña</h1>
    <p>
      Ingresa tu RUT y correo electrónico asociados a tu cuenta y te
      enviaremos un enlace para restablecer tu contraseña.
    </p>

    <div class="input-group">
      <label for="rut">RUT</label>
      <input id="rut" type="text" placeholder="Ingresa tu RUT" maxlength="10" [(ngModel)]="rut" />
    </div>

    <div class="input-group">
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Ingresa tu correo" [(ngModel)]="mailuser" />
    </div>

    <ion-button expand="block" (click)="RecoverPW()" [disabled]="isLoading">Enviar correo</ion-button>
  </div>
</ion-content>