<ion-header>
  <ion-toolbar class="custom-header">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="reset-password-page">
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/icon/favicon.png" alt="Logo" class="logo" />
  </div>

  <!-- Título y descripción -->
  <h1 class="title">Crea una nueva contraseña</h1>
  <p class="subtitle">
    Protege tu cuenta con una contraseña segura. Recuerda que debe tener al menos 4 caracteres.
  </p>

  <!-- Formulario -->
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

    <!-- Campo del token -->
    <div class="input-container">
      <ion-item lines="none" class="custom-input">
        <ion-label position="stacked" class="input-label">Ingrese el token</ion-label>
        <ion-input formControlName="token"></ion-input>
      </ion-item>
    </div>

    <!-- Campo de nueva contraseña -->
    <div class="input-container">
      <ion-item lines="none" class="custom-input">
        <ion-label position="stacked" class="input-label">Contraseña nueva</ion-label>
        <ion-input type="password" maxlength="8" formControlName="newPassword"></ion-input>
      </ion-item>
    </div>

    <!-- Campo de confirmar contraseña -->
    <div class="input-container">
      <ion-item lines="none" class="custom-input">
        <ion-label position="stacked" class="input-label">Confirma tu contraseña</ion-label>
        <ion-input type="password" maxlength="8" formControlName="confirmPassword"></ion-input>
      </ion-item>
    </div>

    <!-- Botón -->
    <div class="button-container">
      <ion-button expand="block" type="submit" class="submit-button" [disabled]="resetForm.invalid">
        Crear nueva contraseña
      </ion-button>
    </div>
  </form>
</ion-content>
