// Variables de colores para el degradado
$gradient-start:#2ee709;
$gradient-end:  #17db10;

// Estilos generales
:host {
  --background: #f0f0f0; 
}

// Estilos del encabezado con degradado
ion-header {
    background: linear-gradient(135deg, #2ee709, #17db10); 
    color: rgb(2, 2, 2);
  
    ion-toolbar {
      --background: transparent;
      color: black;
  
      ion-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: black; 
      }
    }
  }
  

// Estilos del contenido
ion-content {
  .ion-padding {
    padding: 16px;
  }

  // Estilos para las tarjetas de detalles de actividad
  ion-card {
    margin-bottom: 16px;

    ion-card-header {
      background: linear-gradient(135deg, $gradient-start, $gradient-end); // Degradado para el encabezado de la tarjeta
      color: white;
      padding: 12px;
      
      ion-card-title {
        font-size: 1.25rem;
        font-weight: bold;
        color: white;
      }
    }

    ion-card-content {
      font-size: 1rem;
      color: #333;

      p {
        margin: 8px 0;
        strong {
          font-weight: 600;
          color: $gradient-end;
        }
      }
    }
  } 

}

.action-button {
  margin: 8px auto;
  width: 55%;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
}
