<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" class="back-arrow" (click)="volver()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Sección de encabezado de la actividad -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ actividad.Nom_Actividad }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p><strong>Anfitrión :</strong> {{ actividad.Nom_User }}</p>
      <p><strong>Descripción:</strong> {{ actividad.Desc_Actividad }}</p>
      <p><strong>Dirección:</strong> {{ actividad.Direccion_Actividad }}</p>
      <p><strong>Categoría:</strong> {{ actividad.Nom_Categoria }}</p>
      <p><strong>Subcategoría:</strong> {{ actividad.Nom_SubCategoria }}</p>
      <p><strong>Jugadores:</strong> Máximo {{ actividad.Cantidad_MaxJugador }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Lapso de inscripción -->
  <div class="inscription-period">
    <h3>Lapso de Inscripción</h3>
    <p class="activity-info"><span>Fecha:</span> {{ actividad.Fecha_TER_Actividad | date: 'mediumDate' }}</p>
    <p class="activity-info"><span>Hora de Inicio:</span> {{ actividad.Fecha_INI_Actividad | date: 'shortTime' }}</p>
    <p class="activity-info"><span>Hora de Término:</span> {{ actividad.Fecha_TER_Actividad | date: 'shortTime' }}</p>
  </div>

  <!-- Botón Unirse -->
  <div class="button-container">
    <ion-button expand="block" class="join-button" (click)="inscribir()">Unirme</ion-button>
  </div>
</ion-content>
