<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" class="back-arrow" (click)="volver()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-container">
  <!-- Título -->
  <h1 class="activity-title">¡Únete a esta actividad!</h1>

  <!-- Detalles de la actividad -->
  <div class="activity-details">
    <h2 class="activity-name">{{ actividad.Nom_Actividad }}</h2>
    <p class="activity-info"><span>Anfitrión:</span> {{ actividad.Nom_User }}</p>
    <p class="activity-info"><span>Descripción:</span> {{ actividad.Desc_Actividad }}</p>
    <p class="activity-info"><span>Dirección:</span> {{ actividad.Direccion_Actividad }}</p>
    <p class="activity-info"><span>Subcategoría:</span> {{ actividad.Nom_SubCategoria }}</p>
    <p class="activity-info"><span>Participantes:</span> {{ actividad.Cantidad_MaxJugador }}</p>
  </div>

  <!-- Lapso de inscripción -->
  <div class="inscription-period">
    <h3>Lapso de Inscripción</h3>
    <p class="activity-info"><span>Fecha:</span> {{ actividad.Fecha_TER_Actividad | date: 'mediumDate' }}</p>
    <p class="activity-info"><span>Hora de Inicio:</span> {{ actividad.Fecha_INI_Actividad | date: 'shortTime' }}</p>
    <p class="activity-info"><span>Hora de Término:</span> {{ actividad.Fecha_TER_Actividad | date: 'shortTime' }}</p>
  </div>

  <!-- Botón Unirse -->
  <div class="button-container">
    <ion-button expand="block" class="join-button" (click)="inscribir()">Unirme</ion-button>
  </div>
</ion-content>
