<ion-header class="ion-no-border">
  <ion-toolbar>
    <br>
    <br>
    <ion-title>Seleccionar Foto</ion-title>
    <ion-buttons slot="end">
      <ion-button class="botonModal" (click)="closeModal()">x</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button expand="block" (click)="startCapture('camera')">Tomar Foto</ion-button>
    <br>
    <ion-button expand="block" (click)="startCapture('gallery')">Elegir de Galería</ion-button>
    <div *ngIf="foto" class="foto-preview">
      <img [src]="foto" alt="Foto seleccionada" />
    </div>
  </div>
</ion-content>
