<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <div class="toolbar-logo-container">
      <ion-img class="logoW" src="../../assets/img/logo.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let actividad of actividades; let i = index">
        <ion-card class="card-container">
          <div class="card-background" [style.backgroundImage]="'url(' + (actividad.url || '/assets/portrait/nocover.jpg') + ')'"></div>
          <ion-card-header>
            <div class="card-title-container">
              <ion-card-title class="tit-card-cont">{{ actividad.Nom_Actividad }}</ion-card-title>
            </div>
            <ion-card-subtitle class="date-cont">{{ actividad.Fecha_TER_Actividad | date:'short' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="card-contenid">
            <p>{{ actividad.Nom_SubCategoria }}</p>
          </ion-card-content>
          <ion-card-content class="card-contenid">
            <p>{{ actividad.Nom_SubCategoria }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>