<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons (click)="volver()" slot="start">
      <ion-icon class="icono" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <div class="toolbar-container">
      <label class="toolbar-text">Historial de Actividades</label>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="card-container">
    <ion-card *ngFor="let actividad of actividades" class="custom-card">
      <div
        class="card-image"
        [style.backgroundImage]="'url(' + (actividad.url || '/assets/portrait/nocover.jpg') + ')'"
      ></div>
  
      <ion-card-content class="card-content">
        <div class="card-date-time">
          {{ actividad.Fecha_TER_Actividad | date: 'medium' }}
        </div>
  
        <div class="card-title">
          {{ actividad.Nom_Actividad }}
        </div>
  
        <div class="card-info">
          <p>{{ actividad.Nom_SubCategoria }}</p>
          <p>{{ actividad.Desc_Actividad }}</p>
          <p>Dirección: {{ actividad.Direccion_Actividad }}</p>
          <p>Celular Anfitrion: {{ actividad.Celular_User }}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>