<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
        <div class="toolbar-container">
      <label class="toolbar-text">Inicio</label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingText="Desliza hacia abajo para refrescar"
      refreshingSpinner="crescent"
      refreshingText="Actualizando actividades...">
    </ion-refresher-content>
  </ion-refresher>

  <h1 class="weather-header">¿Cómo estará el clima hoy?</h1>

  <ion-card class="weather-card" *ngIf="weatherData">
    <ion-card-content>
      <div class="weather-info">
        <p class="humidity">Humedad {{ weatherData.main.humidity }}%</p>
        <h2 class="weather-detail">{{ weatherData.weather[0].description | titlecase }}</h2>
        <div class="temperature">
          <span class="temp">{{ weatherData.main.temp }}</span>
          <span class="celsius">°C</span>
        </div>
        <p class="location">{{ weatherData.name }}, {{ weatherData.sys.country }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!weatherData">
    <ion-card-header>
      <ion-card-title>Cargando clima...</ion-card-title>
    </ion-card-header>
  </ion-card>


  <h1 class="actividades-rapidas">Actividades</h1>
  
  <!-- Actividades -->
  <div class="list-container">
    <div *ngFor="let actividad of actividadesAleatorias; let i = index" class="card-list" (click)="onCardClick(actividad)">
      <img [src]="actividad.Url || 'assets/portrait/nocover.jpg'" alt="Actividad" class="card-image" />
      
      <div class="card-info-container">
        <!-- Título -->
        <h2 class="card-title">{{ actividad.Nom_Actividad }}</h2>
  
        <!-- Subtítulo -->
        <p class="card-subtitle">{{ actividad.Nom_SubCategoria }}</p>
  
        <!-- Información -->
        <p class="card-info">Participantes: {{ actividad.Cantidad_MaxJugador }}</p>
        <p class="card-info">Dirección: {{ actividad.Direccion_Actividad }}</p>

        <p class="card-date-time">{{ actividad.Fecha_Termino }}, {{actividad.Hora_Termino}}</p>
        
      </div>
    </div>
  </div>
  
  <h1 class="actividad-favorita">Según tus gustos</h1>
  
  <!-- Actividades -->
  <div class="list-container">
    <div *ngFor="let actividad of actividadesFavoritasAleatorias; let i = index" class="card-list" (click)="onCardClick(actividad)">
      <img [src]="actividad.Url || 'assets/portrait/nocover.jpg'" alt="Actividad" class="card-image" />
      
      <div class="card-info-container">
        <!-- Título -->
        <h2 class="card-title">{{ actividad.Nom_Actividad }}</h2>
  
        <!-- Subtítulo -->
        <p class="card-subtitle">{{ actividad.Nom_SubCategoria }}</p>
  
        <!-- Información -->
        <p class="card-info">Participantes: {{ actividad.Cantidad_MaxJugador }}</p>
        <p class="card-info">Dirección: {{ actividad.Direccion_Actividad }}</p>

        <p class="card-date-time">{{ actividad.Fecha_Termino }}, {{actividad.Hora_Termino}}</p>
        
      </div>
    </div>
  </div>
  
</ion-content>
