<ion-content class="ion-padding">
  <div class="login-container">
    <ion-img src="assets/icon/favicon.png" class="logo"></ion-img>
    <h1>Inicia sesión en OutMate.</h1>

    <ion-item lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="mailuser" placeholder="Ingresa tu correo"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        placeholder="Ingresa tu contraseña"
      ></ion-input>
      <ion-icon
        slot="end"
        [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
        (click)="togglePassword()"
      ></ion-icon>
    </ion-item>

    <a (click)="recover()" class="forgot-password">¿Olvidaste tu contraseña?</a>

    <ion-button expand="block" (click)="login()" class="login-button">Ingresar</ion-button>

    <p class="register-link">
      ¿Aún no tienes una cuenta en OutMate?
      <a (click)="signup()">Regístrate aquí</a>
    </p>
  </div>
</ion-content>
