.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    .logo {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333;
    }
  
    ion-item {
      width: 90%;
      margin-bottom: 15px;
  
      ion-input {
        font-size: 1rem;
      }
  
      ion-icon {
        cursor: pointer;
        color: #666;
      }
    }
  
    .forgot-password {
      color: #459006;
      font-size: 0.9rem;
      margin-bottom: 20px;
      cursor: pointer;
      text-align: right;
      width: 90%;
    }
  
    .login-button {
        width: 90%;
        margin-top: 10px;
      }
  
    .register-link {
      font-size: 0.9rem;
      margin-top: 20px;
  
      a {
        color: #459006;
        cursor: pointer;
      }
    }
  }
  