ion-content {
  --padding-start: 41px;
  --padding-end: 41px;
}

//Header
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.toolbar-container{
  text-align: center;
}

.toolbar-text {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.165px;
}

//Sección de perfil
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 15px;
  box-shadow: none;
}

//Avatar
.avatar-centered {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  margin-bottom: 15px; 
}

ion-card-title {
  font-size: 1.5rem; 
  font-weight: 700;
}

//Listas y Secciones
.list-section {
  margin-top: 15px;
}

ion-list-header {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

ion-item {
  --background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}

ion-item ion-icon {
  color: #8CE144;
  font-size: 20px;
}

//Botones
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

ion-button {
  --border-radius: 20px;
  width: 48%;
}

.icono {
  font-size: 24px; 
  width: 24px; 
  height: 24px;
}

.profile-picture-container {
  position: relative;
  display: inline-block;
}

.avatar-centered {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.edit-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  color: #8CE144;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nombre{
  padding-top: 30px;
}
