<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <div class="toolbar-container">
      <label class="toolbar-text">Categorias</label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content
        pullingText="Desliza hacia abajo para refrescar"
        refreshingSpinner="crescent"
        refreshingText="Actualizando actividades...">
      </ion-refresher-content>
    </ion-refresher>

    <!-- Barra de busaqueda -->
    <ion-toolbar class="searchbar-container">
      <ion-searchbar placeholder="Search" show-clear-button="focus"></ion-searchbar>
    </ion-toolbar>

    <!-- Actividades -->
    <div class="card-container">
      <ion-card *ngFor="let actividad of actividades" class="custom-card" (click)="onCardClick(actividad)">
        <div
          class="card-image"
          [style.backgroundImage]="'url(' + (actividad.Url || 'assets/portrait/nocover.jpg') + ')'"
        ></div>
    
        <ion-card-content class="card-content">
          <div class="card-date-time">
            {{ actividad.Fecha_TER_Actividad | date: 'medium' }}
          </div>
    
          <div class="card-title">
            {{ actividad.Nom_Actividad }}
          </div>
    
          <div class="card-info">
            <p>{{ actividad.Nom_SubCategoria }}</p>
            <p>{{ actividad.Desc_Actividad }}</p>
            <p>Dirección: {{ actividad.Direccion_Actividad }}</p>
            <p>Participantes: {{ actividad.Cantidad_MaxJugador }}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  
  <!-- Aquí irá la parte para registrar actividad -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="BotonFlotante">
    <ion-fab-button expand="block" class="colorFab" (click)="enviarPagAct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>    
</ion-content>
