/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; 
@import "@ionic/angular/css/palettes/dark.system.css";*/

//Estilos personalizados
*{
  font-family: 'Poppins';
}

.header-md {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

ion-button {
    display: flex;
    padding: 17px 20px;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
      var(--button-gradient-start),
      var(--button-gradient-end)
    );
    color: white;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    --background: none; /* Desactiva el color de fondo predeterminado */
    --background-activated: rgba(255, 255, 255, 0.3); /* Efecto al hacer clic */
    --box-shadow:none;

    &:hover {
      filter: brightness(1.1);
    }
  }  

  ion-tab-bar{
    --background: linear-gradient(
      var(--button-gradient-start),
      var(--button-gradient-end)
    );
    margin: 22px;
    width: 330px;
    flex-shrink: 0;
    border-radius: 21px;
    align-self: center;
    box-shadow: 0px 51px 80px 0px rgba(0, 0, 0, 0.07), 0px 21.307px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 11.392px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 6.386px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 3.392px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 1.411px 2.214px 0px rgba(0, 0, 0, 0.02);
  }

  ion-toolbar{
    --background: #ffffff !important;
    box-shadow: none !important;
  }